
token.txt
friendcodes.csv
friendcodes – Kopi.csv
ferrodm.png
discord ferro.psd
discord ferro.png
unused_commands.py
unused_module_sample.py
__pycache__/bot.cpython-38.pyc
__pycache__/Den.cpython-38.pyc
__pycache__/DenDex.cpython-38.pyc
__pycache__/Dexter.cpython-38.pyc
__pycache__/Fun.cpython-38.pyc
__pycache__/Functions.cpython-38.pyc
__pycache__/RaidCommands.cpython-38.pyc
__pycache__/test_module.cpython-38.pyc
*.txt
Ferroseed working 2020 - 10 - 26.zip
data/json/fc.json
data/json/reactrole.json
out.pk8
out.pk8
data/json/fc_test.json
data/json/da_mons – Kopi.json
.vscode/settings.json
__pycache__/countdown.cpython-38.pyc
__pycache__/fc.cpython-38.pyc
__pycache__/Hosting.cpython-38.pyc
*.pyc
*.pyc
data/txt/ferrohurt.txt
*.pyc
